#####=== OSX ===#####
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#####=== Dashbrew ===#####
.dashbrew

#####=== Grunt ===#####
node_modules

#####=== Lumen ===#####
/lumen.log
/vendor
# .env

#####=== dnsbl-webutils ===#####
config/config.php
public/assets/fonts
public/assets/css/style.css
public/assets/css/style.css.map
public/assets/css/_prism.scss
public/assets/js/build.js
public/assets/js/modernizr.js
